/* 
font-family: "Liter", serif;
font-family: "Sour Gummy", serif;
font-family: "Mystery Quest", serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Liter&family=Mystery+Quest&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    ---white: #e4e4e4;
    ---dark: #161616;
    ---active: #706060;
    ---red: #ff7676;
    ---green: #95ff58;
    ---grey: #c5c5c5;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: var(---white);
}

::-webkit-scrollbar-thumb{
    background-color: var(---dark);
}

::-webkit-scrollbar-track{
    background-color: var(---white);
    border: 1px solid var(---active);
}

body, html{
    font-size: 16px;
    color: var(---dark);
    background-color: var(---white);
    font-family: "Liter", serif;
    scroll-behavior: smooth;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

.container{
    /* border: 1px solid var(---red); */
    width: 100%;
    height: 100%;
}

.header-nav{
    /* border: 1px solid var(---green); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(---white);
}

.header-nav .header-side{
    /* border: 1px solid var(---red); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

a{
    margin: 10px;
    color: var(---dark);
}

a:hover{
    text-decoration: underline;
}

.header-nav .header-side.mobile{
    padding: 10px;
    font-size: 1.5rem;
    display: none;
}

.header-nav .header-side.desktop{
    margin-right: 10px;
}

.header-nav .header-side.logo{
    padding: 10px;
}

.content{
    /* border: 1px solid var(---red); */
    min-height: 250px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* .content-side{
    border: 1px solid var(---green);
} */

.composer-exiter{
    position: fixed;
    background-color: #16161656;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

.composer{
    /* border: 1px solid var(---green); */
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.compose-button{
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid var(---white);
    border-radius: 50%;
    background-color: var(---dark);
    color: var(---white);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.compose-button:hover{
    background-color: var(---active);
}

.new-item{
    /* border: 1px solid var(---dark); */
    position: relative;
    right: 0;
    border-radius: 50px;
    background-color: var(---dark);
    color: var(---white);
    padding: 10px;
    margin: 5px;
    width: 100%;

    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: right .5s ease;
}

.new-item:hover{
    right: 10px;
}

.content-side.list{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.profile{
    width: 30%;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    position: sticky;
}

.profile .profile-header{
    /* border: 1px solid var(---green); */
    padding: 10px;
    display: flex;
    /* align-items: center; */
}

.profile-header img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-header .userInfo{
    /* border: 1px solid var(---green); */
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3rem;
}

.profile .profile-dashboard{
    /* border: 1px solid var(---red); */
    flex-grow: 1;
    padding: 10px;
    font-size: 1.2rem;
    color: var(---active);
}

.profile-dashboard .value{
    color: var(---dark);
}

.profile-dashboard .dashboard-date{
    color: var(---dark);
    font-size: 1.5rem;
}

.display-task{
    /* border: 1px solid var(---dark); */
    border-radius: 10px;
    background-color: #fff;
    min-height: 250px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.display-task .task{
    /* border: 1px solid var(---dark); */
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.task:hover{
    color: var(---active);
}

.display-task .check-task{
    border: 1px solid var(---dark);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.display-task .checked{
    text-decoration: line-through;
    font-style: italic;
    color: var(---active);
}

.display-task .checked .check-task{
    background-color: var(---dark);
}

.display-task .check-task:hover{
    background-color: var(---grey);
}

.install{
    padding: 5px;
    font-size: 1rem;
    font-family: "Liter", serif;
    border: none;
    background-color: transparent;
    display: none;
}

.install:hover{
    color: var(---active);
    cursor: pointer;
}

button:not(.install){
    width: 100px;
    font-size: 1rem;
    padding: 5px;
    border-radius: 100px;
    border: none;
    background-color: var(---dark);
    color: var(---white);
    margin: 5px;
    font-family: "Liter", serif;
}

button:hover:not(.install){
    background-color: var(---active);
}

.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 101%;
    background-color: var(---white);
    display: none;
    transition: left .5s ease-in-out;
}

.mobile-menu .top{
    /* border: 1px solid var(---green); */
    font-size: 2rem;
    width: 100%;
    padding: 10px;
    text-align: right;
    font-weight: bold;
}

.menus{
    padding: 10px;
}

.menus nav{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.menus nav .install{
    font-size: 1.5rem;
}

.note{
    border: 1px solid var(---grey);
    background-color: #ffff;
    border-radius: 10px;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(---active);
}

.note.book{
    background-color: var(---dark);
    color: var(---white);
}

.note.book .button{
    background-color: var(---white);
    color: var(---dark);
}

.note .title{
    word-wrap: break-word;
    overflow: hidden;
}

.note .value{
    color: var(---red);
}

.note.book .value{
    color: var(---grey);
}

.read{
    position: fixed;
    width: 80%;
    height: 80%;
    background-color: var(---dark);
    color: var(---white);
    border-radius: 10px;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: top .5s ease;
    padding: 10px;
}

.read .content-header{
    /* border: 1px solid var(---grey); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.read .content-header .exitView{
    /* border: 1px solid var(---active); */
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .mobile-menu{
        display: block;
    }

    .header-nav .header-side.desktop{
        display: none;
    }
    .header-nav .header-side.mobile{
        display: block;
    }

    .content{
        flex-direction: column-reverse;
        justify-content: start;
    }

    .content-side.list,
    .profile{
        width: 100%;
        min-height: 250px;
    }

    .content-side.profile{
        display: none;
    }

    .read{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}